<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.seckilldemo.dao.GoodsMapper">





    <select id="findCountByDb" resultType="java.lang.Integer">
        select stock from t_goods  where id = #{goodsId} for update
    </select>

    <update id="addSeckillCount">
        update t_goods
        set stockCount=stockCount + ${seckillCount}
        where id=#{goodsId}
    </update>
    <update id="subtractSeckillCount">
        update t_goods
        set stock=stock - ${goodsCount}
        where id=#{goodsId} and stock >= ${goodsCount}
    </update>
    <select id="selectLockSeckillCount" resultType="java.lang.Integer">
        select stockCount from t_goods  where id = #{goodsId} for update
    </select>



</mapper>